<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/8075d351-ca00-4c9d-b934-1885ef0e862b/resourcegroups/TimeProject20220921222207ResourceGroup/providers/Microsoft.Web/sites/TimeProject20220921222207</ResourceId>
    <ResourceGroup>TimeProject20220921222207ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://timeproject20220921222207.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>135dbbdb-88de-4cb2-8fe2-8320f3e72ff8</ProjectGuid>
    <PublishUrl>https://timeproject20220921222207.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TimeProject20220921222207</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>